#calendar{
    margin-top: 30px;
    /* border: 1px solid #000; */
    background: #eee;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 10px;
}
#calendar p{
    text-align: center;
    font-size: 22px;
}
#calendar p:nth-child(2){
    font-size: 40px;
    font-weight: 900;
}
#calendar table{
    margin:10px auto 5px;
    border-collapse:collapse;
    border: 1px solid #eee;
}
#calendar th,td{
    width: 32px;
    height: 32px;
}
#calendar td{
    font-size: 18px;
    text-align:center;
    cursor: pointer;
}
#calendar td:hover{
    background: #999;
}
#calendar .fa{
    cursor: pointer;
}
#calendar .fa:hover{
    color: #999;
}