#calendar{
    margin-top: 30px;
    display: inline-block;
    /* border: 1px solid #000; */
    background: #eee;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 10px;
}
#calendar h1{
    text-align: center;
}
#calendar h1:nth-child(2){
    font-size: 40px;
}
#calendar table{
    margin:20px auto 20px;
    border-collapse:collapse;
    border: 1px solid #eee;
}
#calendar th,td{
    width: 40px;
    height: 40px;
}
#calendar td{
    font-size: 20px;
    text-align:center;
    cursor: pointer;
}
#calendar td:hover{
    background: #999;
}
#calendar .fa{
    cursor: pointer;
}
#calendar .fa:hover{
    color: #999;
}