header .logo{
    width: 300px;
    height: 50px;
    line-height: 50px;
    float: left;
    background: #39f;
    color: #fff;
    padding-left: 250px; 
    font-size: 30px;
    font-weight: bold;
}
header nav{
    background: #39f;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    color: #fff;
    text-align: center;
}
header nav span{
    margin-right: 10px;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}
header nav span:hover{
    background: #fff;
    color:#39f;
}