<div id="calendar">
    <p>
        <b class="calendar-b">
            <i class="fa fa-chevron-left"></i>
        </b>
        <span class="calendar-span"></span>
        <b class="calendar-b">
            <i class="fa fa-chevron-right"></i>
        </b>年
        <b class="calendar-b">
            <i class="fa fa-chevron-left"></i>
        </b>
        <span class="calendar-span"></span>
        <b class="calendar-b">
            <i class="fa fa-chevron-right"></i>
        </b>月  
    </p>
    <p><span class="calendar-span">...</span>日</p>    
    <table border="1">
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
        <tr>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
        </tr>
        <tr>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
        </tr>
        <tr>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
        </tr>
        <tr>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
        </tr>
        <tr>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
        </tr>
        <tr>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
            <td class="calendar-item"></td>
        </tr>
    </table>
</div>